body {
    background-color: #2F4454;
    color: white
}
.navbar-info-text{
    color: #DA7B93;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    letter-spacing: 1.8px;
    word-spacing: -0.8px;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.navbar-info-link{
    color: #DA7B93;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 1.8px;
    word-spacing: -0.8px;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}
.navbar-info-link:hover{
    box-shadow: inset 100px 0 0 0 #DA7B93;
    color: white;
}

.row-style{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
}
.field-container {
    margin-top: 20px;
    background-color: #1C3334;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -webkit-box-shadow: 0px 0px 24px 5px #DA7B93;
    box-shadow: 0px 0px 24px 5px #DA7B93;
}